body {
    color: white;
    background: black;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(212, 48, 48);
    padding: 20px;
    font-size: 32px;
    color: rgb(212, 48, 48);
}

section {
    background: rgb(77, 0, 160);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}